{% extends "admin/base-admin.html.twig" %}

{% block title %}
    Devis
    {{ parent() }}
{% endblock %}

{% block logout %}
    <p><a href="index.php?route=logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></p>
{% endblock %}

    {% block main %}
    <main class="adminHome">
        <ul>
            <li class="shadow p-3 mb-5 rounded"><a href="index.php?route=list-pricings">DEVIS</a></li>
            <li class="shadow p-3 mb-5 rounded"><a href="index.php?route=list-messages">MESSAGES</a></li>
            <li class="shadow p-3 mb-5 rounded"><a href="index.php?route=list-opinions">AVIS</a></li>
            <li class="shadow p-3 mb-5 rounded"><a href="index.php?route=list-reals">RÉALISATIONS</a></li>
            <li class="shadow p-3 mb-5 rounded"><a href="index.php?route=list-services">PRESTATIONS</a></li>
        </ul>
    </main>
    {% endblock %}
