{% extends "base.html.twig" %}

{% block title %}
    Consulter/laisser un avis
    {{ parent() }}
{% endblock %}

{% block main %}

<main>

<form action="index.php?route=pricingRegister" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf-token" id="csrf-token" value="{{ sessionToken }}" />

        <fieldset>
            <label for="contactMode">Comment souhaitez-vous être recontacté(e) ?</label>
            <select id="contactMode" name="contactMode" required="required">
                <option value="telephone">Téléphone</option>
                <option value="email">Email</option>
            </select>

            <label for="firstName">Prénom</label>
            <input type="text" id="firstName" name="firstName" required="required">

            <label for="lastName">Nom</label>
            <input type="text" id="lastName" name="lastName" required="required">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required="required">

            <label for="tel">Téléphone</label>
            <input type="tel" id="tel" name="tel" required="required">

            <label for="city">Ville</label>
            <input type="text" id="city" name="city" required="required">
        </fieldset>

        <fieldset >
            <legend>Type de bien :</legend>

            <input type="checkbox" id="bienAncien" name="details[]" value="Bien ancien">
            <label for="bienAncien">Bien ancien</label>

            <input type="checkbox" id="bienRecent" name="details[]" value="Bien récent">
            <label for="bienRecent">Bien récent</label>

            <input type="checkbox" id="bienNeuf" name="details[]" value="Bien neuf">
            <label for="bienNeuf">Bien neuf</label>

            <input type="checkbox" id="cloisons" name="details[]" value="Cloisons">
            <label for="cloisons">Cloisons</label>

            <input type="checkbox" id="isolationInterieure" name="details[]" value="Isolation intérieure">
            <label for="isolationInterieure">Isolation intérieure</label>

            <input type="checkbox" id="isolationExterieure" name="details[]" value="Isolation extérieure">
            <label for="isolationExterieure">Isolation extérieure</label>

            <input type="checkbox" id="fauxPlafonds" name="details[]" value="Faux plafond(s)">
            <label for="fauxPlafonds">Faux plafond(s)</label>
        </fieldset>

        <fieldset>
            <label for="message">Message (max 1024 caractères)</label>
            <textarea id="message" name="message" maxlength="1024"></textarea>

            <label for="photo">Téléchargez une image :</label>
            <input type="file" name="photo" id="photo" accept="photo/*">
        </fieldset>

        <button type="submit" >Envoyer</button>
</form>

</main>
{% endblock %}
