{% extends "base.html.twig" %}

{% block title %}
    Consulter/laisser un avis
    {{ parent() }}
{% endblock %}

{% block main %}

<main>

<form action="index.php?route=checkPricing" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf-token" id="csrf-token" value="{{ session }}" />

    <label for="email">Email :</label>
    <input type="email" name="email" required>

    <label for="telephone">Téléphone :</label>
    <input type="tel" name="telephone" required>

    <label for="message">Message :</label>
    <textarea name="message" required></textarea>

    <label for="photo">Photo :</label>
    <input type="file" name="photo" accept="image/*">

    <button type="submit">Envoyer</button>
</form>

</main>
{% endblock %}
