@media only screen and (min-width: 1200px) {
    /* HEADER */
    header {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-bottom: none;
    }

    #logoNoScroll {
        margin: 4rem auto;
        text-align: center;
        height: 20vh !important;
    }

    #contactNav,
    #nav {
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .slash {
        display: block
    }

    .contactBurgerMenu, .navBurgerMenu {
        display: none;
    }

    .modalContactBurger {
        display: block;
        opacity: 1;
        position: static;
        background-color: #bf9000;
        margin: 0
    }

    .modalNavBurger {
        display: block;
        opacity: 1;
        position: static;
        background-color: transparent;
    }

    .contact_list, .navList {
        display: flex;
        visibility: visible;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        align-content: center;
    }

    .contact_list {
        background-color: #bf9000;
        width: 100%;
        justify-content: space-around;
    }

    .contactDetails li {
        padding: 0;
        margin: 1rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: lighter;
        align-items: center;
        color: #fff
    }

    .contactDetails li i {
        color: #000;
        padding: 0 1rem 0 0;
        font-size: 1.8rem
    }

    .contactDetails li a {
        align-items: center;
        text-decoration: none;
        color: #fff
    }

    .navList {
        margin: auto;
        background-color: transparent;
        margin: 2rem auto;
        justify-content: center;
        border-bottom: 1px solid #bf9000;
    }

    .navList li {
        font-size: 1.6rem;
        margin: 0 4rem;
        padding: 0 0 2rem 0
    }

    .navList .nav-link {
        text-decoration: none;
        margin: 0;
        padding: 1rem
    }

    .navList li:not(:last-of-type) a {
        font-size: 1.6rem;
        text-align: center;
    }

    .navList li:not(:last-of-type) a:hover {
        color: #bf9000;
    }

    .navList li:last-of-type a {
        color: #bf9000;
        text-decoration: none;
        font-size: 1.6rem;
        text-align: center;
        border: 1px solid #bf9000;
    }

    .navList li:last-of-type a:hover {
        color: #fff;
        border: 1px solid #fff
    }

    .navList .nav-item a:hover {
        color: #bf9000;
    }

    .navList .nav-item:not(:last-child).active a {
        color: #bf9000;
        border-bottom: 2px solid !important;
        padding-bottom: 0.2px !important;
    }

    .navList .nav-item:last-child.active a {
        color: #bf9000 !important;
    }

    /* scrolled */
    .scrolled {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.85);
        border-bottom: 1px solid #bf9000;
    }

    .scrolled .logoHeaderScroll {
        height: 6rem;
        text-align: center;
    }

    .scrolled #nav {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: left;
    }

    .scrolled #contactNav {
        grid-column: 3/4;
        grid-row: 1/2;
        text-align: right;
        justify-self: right;
    }

    .scrolled .modalContactBurger {
        display: none;
        opacity: 0;
    }

    .scrolled .modalNavBurger {
        display: none;
        opacity: 0;
    }

    .scrolled .slash {
        display: none
    }

    .scrolled #contactNav,
    .scrolled #nav {
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .scrolled .contact_list, .scrolled .navList {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-content: center;
    }

    .scrolled .contactBurgerMenu {
        border: 1px solid #bf9000;
        background-color: transparent;
        width: 6rem;
        height: 6rem;
        margin: 2rem;
        position: relative;
    }

    .scrolled .contactBurgerMenu span {
        color: #bf9000;
        font-size: 3rem;
    }

    .scrolled .modalContactBurger {
        background-color: #bf9000;
        display: none;
        position: absolute;
        top: 6rem;
        right: 2rem;
        width: auto;
        margin: auto;
        transition: all 0s;
        z-index: 1000;
        opacity: 0;
    }

    .scrolled .modalContactBurger_visible {
        background-color: #bf9000;
        position: absolute;
        top: 6rem;
        right: 2rem;
        width: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-content: end;
        transition: all 0s;
        z-index: 1000;
        opacity: 1;
    }

    .scrolled .close-contactModal {
        position: absolute;
        color: #000;
        top: 0;
        right: 2%;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .scrolled .contact_list {
        list-style: none;
        padding: 1rem;
        text-align: right;
    }

    .scrolled .contact_list li {
        font-size: 1.6rem;
        text-align: left;
    }

    .scrolled .contact_list a {
        text-decoration: underline;
        color: #fff;
        cursor: pointer;
        text-align: left;
    }

    .scrolled .contact_list i {
        color: #000;
        margin: 0 1rem 0 0;
        font-size: 1rem;
        cursor: pointer;
    }

    .scrolled .navBurgerMenu {
        width: 6rem;
        height: 6rem;
        margin: 2rem;
    }

    .scrolled .navBurgerMenu span {
        font-size: 3rem;
    }

    .scrolled .modalNavBurger {
        background-color: #bf9000;
        position: absolute;
        top: 8rem;
        left: 2rem;
        width: auto;
        margin: auto;
        display: none;
        transition: all 0s;
        z-index: 1000;
        opacity: 0;
    }

    .scrolled .modalNavBurger_visible {
        background-color: #bf9000;
        position: absolute;
        top: 8rem;
        left: 2rem;
        width: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-content: start;
        transition: all 0s;
        z-index: 1000;
        opacity: 1;
    }

    .scrolled .close-navModal {
        position: absolute;
        color: #000;
        top: 0;
        right: 2%;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .scrolled .navList {
        list-style: none;
        padding: 0;
        text-align: left;
    }

    .scrolled .navList li {
        font-size: 1.6rem;
    }

    .scrolled .navList li:not(:last-of-type) a {
        text-decoration: none;
        color: #fff;
        font-size: 1.6rem;
        cursor: pointer;
        text-align: left;
    }

    .scrolled .navList li:not(:last-of-type) a:hover {
        color: #000;
    }

    .scrolled .navList li:last-of-type a {
        color: #000;
        text-decoration: underline;
        font-size: 1.6rem;
        cursor: pointer;
        text-align: left;
    }

    .scrolled .navList li:last-of-type a:hover {
        color: #fff;
    }
    .scrolled .navList .nav-item:last-child.active a {
        color: #000 !important;
    }
    .scrolled .navList .nav-item:not(:last-child).active a {
        color: #000;
    }
    /* Footer */

    footer p {
        font-size: 2rem;
    }

    /* HOME REAL */
    .home .homeReal {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 1fr;
    }

    .home .homeReal .homeSliderImg {
        height : 50vh;
    }

    .home .homeReal .homePrevButtonReal {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .home .homeReal .homeRealSlider {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .home .homeReal .homeNextButtonReal {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .home .homeReal .homeSliderImg {
        width : 100%;
        height : 50vh;
        object-fit : cover;
        object-position : center;
        display: block;
        margin : 0 auto 1rem auto;
        border : 3px solid #bf9000;
    }
    .homeReal .sliderLegend {
        font-size : 1.6rem;
        padding: 2rem;
    }
    .sliderLegend h2 {
        font-size : 1.6rem;
    }
    .sliderLegend p {
        padding-bottom : 2rem;
    }
    .home .homeReal .sliderLegend a {
       font-size : 1.4rem
    }
    .home .homeReal button {
        width : 4rem;
    }


    /* HOME OPINION */
    .homeOpinion {
        flex-direction: row;
    }
    .opinionCSS {
        width: 50rem;
        height: 50rem;
        padding: 2rem;
    }
    .opinionSlider h2 {
        font-size: 1.6rem;
        padding : 1rem;
    }
    .opinionSlider p:first-of-type {
         font-size: 1.6rem;
        padding : 2rem;
    }
    .opinionSlider p:last-of-type {
        font-size: 1.6rem;
    }
    .home .homeOpinion button {
        width : 4rem;
    }

    /* HOME PRESTA */
    .home .homePrestaQuestions p {
        font-size : 2rem;
    }

    .home .homePrestaTitle {
        font-size : 2.4rem;
    }

    /* HOME MAP */
    .homeMap h2 {
        font-size : 3rem;
        font-weight : lighter;
        text-align : center;
        color : #bf9000;
        padding : 0 0 2rem 0
    }

    /* Realisations */
    .text-content {
        margin : 4rem
    }
    .text-content h3{
        font-size: 3rem;
    }
    .text-content p {
        font-size : 1.4rem;
    }

    /* One Real */
    #oneRealPage h3 {
        width : 80%;
        border : none;
        color : #bf9000;
        font-size : 3rem;
    }

    /* Services */
    .servicesPage {
        grid-template-rows : 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin : 2rem auto;
    }

    /* One Service */
    .oneServicePage .gallery {
        grid-template-columns: repeat(3,30%);
    }
    .oneServicePage .thumbnails {
        width: 100%;
        height: 100%;
    }

    /* Opinions */
    .opinionFormSection legend {
        font-size: 2rem;
    }
    .opinionForm label {
        font-size : 1.6rem;
    }
    .opinionForm select option {
        font-size : 1.4rem;
    }
    .realChoice option {
        font-size : 1.4rem;
    }
    .opinionFormOKMessage {
        font-size : 1.6rem;
    }

    /* contact */
    .contactForm legend {
        font-size: 2rem;
    }
    .contactForm label {
        font-size : 1.6rem;
    }
    .contactFormOKMessage {
        font-size : 1.6rem
    }
    .pricingForm legend {
        font-size: 2rem;
    }
    .pricingForm label {
        font-size : 1.6rem;
    }
    .pricingForm select option {
        font-size : 1.4rem;
    }
    .pricingFormOKMessage {
        font-size : 1.6rem
    }

}