/*ocre : #bf9000*/
/*gris foncé : #404040*/

/* *****************************************************************
RESET
***************************************************************** */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
/*colors :*/

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body * {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Signika';
}

img, video {
    max-width: 100%;
}

/* *****************************************************************
GENERAL
***************************************************************** */
body {
    width : 100%;
    margin : auto;
    font-weight:100;
    line-height: 1.5;
    font-family: 'Signika';
    font-size: 1.8rem;
    background-color: #000;
    color:#fff;
}

.vertical-line {
    border-left: 1px solid #bf9000;
    height: 10vh;
    width : 0;
    margin: 2rem auto;
    display : block;
    text-align: center;
}

button {
    cursor: pointer;
}

/* *****************************************************************
BASE.HTML.TWIG
***************************************************************** */

/* Header - bandeau coordonnées */

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color : rgba(0, 0, 0, 0.95)
}

.contactDetails {
    background-color: #bf9000;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width : 100%
}
.contactDetails li {
    padding : 0;
    margin : 1rem;
    text-align : center;
    font-size : 1.4rem;
    font-weight: lighter;
    align-items: center;
    color : #fff
}
.contactDetails li i {
    color : #000;
    padding : 0 1rem 0 0
}
.contactDetails li a {
    align-items: center;
    text-decoration : none;
    color : #fff
}

/* Header - menu */

#logoNav {
    position: relative;
    font-family: 'Signika';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 2rem;
    z-index: 999;
}
.logoHeader {
    width : 30%;
    margin : 3rem auto auto auto;
    display : block;
}
.navbar ul {
    margin : auto;
}
.navbar ul li.nav-item {
    margin : 0;
    padding : 0
}
#navbarSupportedContent .nav-link {
    font-size : 1.6rem;
    color: #fff;
    text-decoration: none;
    margin : 2rem;
}
.navbar-nav li:last-child a {
    border: 1px solid #bf9000;
    color: #fff;
    font-weight: 200;
}
#navbarSupportedContent .nav-item a:hover {
    color: #bf9000;
}

#navbarSupportedContent .nav-item.active a {
    color : #bf9000;
    border-bottom: 2px solid!important;
    padding-bottom: 0.2px!important;
}
#navbarSupportedContent .nav-item:last-child.active {
    background-color: #bf9000;
}
#navbarSupportedContent .nav-item:last-child.active a {
    color : #fff!important;
    border-bottom: 2px solid!important;
    padding-bottom: 0.2px!important;
}
.navbar-collapse.nav-item {
    list-style: none;
    padding : 0
}

/* menu scrollé */
#logoNoScroll,
#logoHeaderScroll {
    transition: opacity 0.5s ease; /* Ajoutez une transition pour l'opacité */
}
.scrolled #logoNav {
    display : flex;
    flex-direction: row;
    justify-content: center;
    margin :0;
}

/*.scrolled #logoHeaderScroll {
    justify-content: flex-end;
    align-self: center;
    margin : 0!important;
}*/

.logoHeaderScroll


/*.navbar-toggler {
    margin : auto;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    background-color : transparent;
    border : 1px solid #bf9000;
}
.navbar-toggler-icon {
    width: 30px; !* Largeur de l'icône *!
    height: 3px; !* Hauteur des traits *!
    display: block;
    position: relative;
    background-color: #bf9000; !* Couleur des traits *!
}*/
/*.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #bf9000; !* Couleur des traits *!
}
.navbar-toggler-icon:before {
    top: -8px;
}

.navbar-toggler-icon:after {
    bottom: -8px;
}*/


/* Footer */

footer {
    display : flex;
    flex-direction : column;
    align-content : center;
    align-items: center;
    justify-content: center;
    margin : auto;
}
footer p:first-of-type {
    text-align : center;
    padding : 0 0 2rem 0;
}
footer p:first-of-type a {
    text-decoration: none;
    color : white;
    font-size: 2rem;
    padding : 0 1rem
}
footer p:last-of-type {
    background-color: #fff;
    color : #bf9000;
    width : 100%;
    text-align: center;
    padding : 1rem;
}
footer p:last-of-type a {
    text-decoration: underline;
    color : #bf9000;
}

/* *****************************************************************
HOME.HTML.TWIG
***************************************************************** */

/* Slider réalisations */

.realSlider {
    display: none; /* par défaut */
}
.realSlider.active {
    display: block; /* diapo active */
}

.home .homeReal {
    display : flex;
    justify-content : center;
    position: relative;
}
.home .homeReal .realSlider {
    text-align: center;
    position: relative;
}
.home .homeReal .sliderImg {
    width : 90%;
    display: block;
    margin : auto;
    border : 3px solid #bf9000;
}
.homeReal .sliderLegend {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 8rem;
    font-size : 2.4rem;
    color: #fff;
}
.sliderLegend h2 {
    font-weight : 100;
    color : #bf9000;
    margin : 0 2rem 2rem 2rem;
}
.sliderLegend h3 {
    text-transform: uppercase;
    color : #fff;
    margin : 0 2rem 1rem
}
.sliderLegend p {
    margin : 0 2rem;
    font-style : italic
}
.home .homeReal .sliderLegend a {
    text-decoration: none;
    color : #fff;
    font-size : 1.4rem
}
.home .homeReal button {
    width : 4rem;
    margin : auto;
    background-color: transparent;
    border : none;
    justify-items : center;
    text-align : center
}

/* Slider Avis */

.opinionSlider {
    display: none; /* par défaut */
}
.opinionSlider.active {
    display: flex; /* diapo active */
}

.homeOpinion {
    display : flex;
    align-items : center;
    position: relative;
    width: 100%;
}

.opinionCSS {
    /*border: 1px solid #bf9000;*/
    margin: auto;
    width: 50rem;
    height: 50rem;
    border-radius: 50rem;
    text-align: center;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    /*
    justify-items: center;
    */
    justify-content: center;
    background-color : rgba(191, 144, 0, 0.3) ;
}

.opinionSlider h2 {
    padding : 0 0 4rem 0;
}
.opinionSlider p:first-of-type {
    padding : 0 0 4rem 0;
}
.opinionSlider p:last-of-type {
    font-weight : 100;
    color : rgba(191, 144, 0, 0.7)
}
.opinionSlider h2 p {
    margin : auto;
}
.home .homeOpinion button {
    width : 4rem;
    margin : auto;
    background-color: transparent;
    border : none;
    justify-items : center;
    text-align : center
}

/* Home Prestas */

.home .homePresta {
    display : grid;
    grid-template-rows: 80% 20%;
    background-color : #bf9000;
    width : 100%;
    height : auto;
    margin : 0 !important;
    text-align : center;
}
.home .homePrestaQuestions {
    display : grid;
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr;
    margin : 0 4rem;
    text-align : center;
}

.home .homePrestaQuestions p {
    padding : 2rem 6rem 0 2rem!important;
    text-align : center;
    font-size : 2rem;
    align-self: center;
}
.home .homePrestaTitle {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    width : 100%;
    margin : 0 0 4rem 0;
    padding : 1rem;
    text-align : center;
    font-size : 2.5rem;
}
.home .homePrestaTitle a {
    text-decoration: none;
    color : #bf9000;
    background-color: #000;
    border : 1px solid #bf9000;
    padding : 2rem;
    /*margin : 4rem 0 0 0;*/
}

.vertical-line.presta {
    margin-top : 8rem;
}

/* Carte */
#map {
    height: 300px;
}

.homeMap h2 {
    font-size : 2.5rem;
    text-align : center;
    color : #bf9000;
    padding : 0 0 2rem 0
}

/* *****************************************************************
REALISATIONS.HTML.TWIG
***************************************************************** */

.realPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.realisation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.realImgslider {
    flex: 1;
    order: 1;
}

.text-content {
    flex: 1;
    order: 2;
}

.realisation.even .realImgslider {
    order: 2;
}

.realisation.even .text-content {
    order: 1;
}

.realImg img {
    max-width: 100%;
    max-height: 100%;
}

.realImgslider {
    text-align: center;
}

.text-content {
    text-align: center;
}


