/*ocre : #bf9000*/
/*gris foncé : #404040*/

/* *****************************************************************
RESET
***************************************************************** */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
/*colors :*/

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body * {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Signika';
}

img, video {
    max-width: 100%;
}

/* *****************************************************************
GENERAL
***************************************************************** */
body {
    margin : auto;
    font-weight:100;
    line-height: 1.5;
    font-family : 'Signika';
    font-size: 1.8rem;
    background-color: #000;
    color:#fff;
}

.vertical-line {
    border-left: 1px solid #bf9000;
    height: 20vh;
    width : 0;
    margin: 2rem auto;
    display : block;
    text-align: center;
}

/* BASE.HTML.TWIG */

/* Header - bandeau coordonnées */

.contactDetails {
    background-color: #bf9000;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
.contactDetails li {
    padding : 0.5rem;
    margin : 1rem;
    text-align : center;
    font-size : 1.4rem;
    weight:light;
    align-items: center;
    color : #fff
}
.contactDetails li i {
    color : #000;
    padding : 0 1rem 0 0
}
.contactDetails li a {
    align-items: center;
    text-decoration : none;
    color : #fff
}

/* Header - menu */

#logoNav {
    font-family : 'Signika';
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items : center;
    align-content : center;
}
.logoHeader {
    width : 25%;
    margin : 2rem auto auto auto;
    display : block;
}
.navbar ul {
    margin : auto;
}
.navbar ul li {
    margin : auto;
}
#navbarSupportedContent a {
    font-size : 1.6rem;
    color: #fff;
    text-decoration: none;
    padding : 0;
    margin : 2rem;
}
.navbar-nav li:last-child {
    background-color: #bf9000;
    padding : 0;
    color: #fff;
    font-weight: 200;
}
#navbarSupportedContent .nav-item:not(:last-child) a:hover {
    color: #bf9000;
}
#navbarSupportedContent .nav-item:last-child a:hover {
    color: #000;
}
#navbarSupportedContent .nav-item.active:not(:last-child) a {
    color : #bf9000;
    border-bottom: 2px solid!important;
    padding-bottom: 0.2px!important;
}
#navbarSupportedContent .nav-item:last-child.active a {
    color : #fff!important;
     border-bottom: 2px solid!important;
    padding-bottom: 0.2px!important;
}
.navbar-collapse.nav-item {
    list-style: none;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}

/* Footer */

footer {
    display : flex;
    flex-direction : column;
    align-content : center;
    align-items: center;
}
footer p:first-of-type {

    padding : 2rem;
}

footer p:last-of-type {
    background-color: #fff;
    color : #bf9000;
    width : 100%;
    text-align: center;
    padding : 1rem;
}

footer p:last-of-type a {
    text-decoration: underline;
    color : #bf9000;
}