/*ocre : #bf9000*/
/*gris foncé : #404040*/

/* *****************************************************************
RESET
***************************************************************** */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
/*colors :*/

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body * {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Signika';
}

img, video {
    max-width: 100%;
}

/* *****************************************************************
GENERAL
***************************************************************** */
body {
    width : 100%;
    margin : auto;
    padding : 0;
    font-weight:100;
    line-height: 1.5;
    font-family: 'Signika';
    font-size: 1.8rem;
    background-color: #000;
    color:#fff;
}

button {
    cursor: pointer;
}

header {
    margin : 2rem auto!important;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color : rgba(0, 0, 0, 0.95);
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.adminHeader h1 {
    text-align : center;
    font-weight: lighter;
    color : #fff;
    font-size : 2rem;
    font-family: Signika;
    padding-bottom : 2rem;
    margin : auto;
}


/* *****************************************************************
ADMIN.HTML.TWIG
***************************************************************** */

/* page accueil admin */

.logoAdmin {
    display : flex;
    justify-content: center;
    align-content: center;
    margin : auto;
    padding : 4rem 0;
    text-align: center;
    width : 20%
}

.fa.fa-sign-out {
    color : #bf9000;
    font-size : 2rem;
}
.adminHome {
    margin : 8rem 2rem;
}
.adminHome ul { /* /!\ A CHANGER EN DESKTOP /!\ */
    display : flex;
    flex-wrap : wrap;
    gap: 5px;
    width : 100%;
    align-items: start;
    justify-items: center;
    justify-content: center;
    margin : 2rem auto;
    text-align : center;
}
.adminHome ul li {
    width: 60%;
    height : 6rem;
    display : flex;
    align-items : center;
    justify-content: center;
    margin : 0 auto;
    padding : 0
}
.adminHome ul li:nth-child(odd) {
    background-color: #bf9000;
}
.adminHome ul li:nth-child(even) {
    background-color: #000;
}
.adminHome ul li a {
    font-size : 2rem;
    text-decoration : none;
    color : #fff;
}

/* *****************************************************************
LIST-PRICINGS.HTML.TWIG
***************************************************************** */

#admin_pricing_page {

}

.edit_btns {

}

/* *****************************************************************
LIST-MESSAGES.HTML.TWIG
***************************************************************** */

tr {
    font-weight : bold;
}