@media only screen and (min-width: 1200px) {
    /*non scrollé */

    header {
        height: 30vh;
        display: flex;
        flex-direction: column;
    }
   #logoNoScroll {
        margin : 2rem auto 0 auto;
        text-align : center;
        width : auto;
        height : 25vh!important;
    }

    #contactNav,
    #nav {
        display: flex;
        visibility: visible;
        align-items: center
    }
    .contactBurgerMenu, .navBurgerMenu {
        visibility : hidden;
    }

    .modalContactBurger {
        display : block;
        opacity: 1;
    }
    .modalNavBurger {
        display : block;
        opacity: 1;
    }
    .contact_list,
    .navList {
        display: flex;
        visibility: visible;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* scrolled */

    .scrolled {
        height : auto;
        display : grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .scrolled .logoHeaderScroll {
        height : 7rem;

        align-self: center;
    }
    .scrolled #nav {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align : left;
    }
    .scrolled #contactNav {
        grid-column: 3/4;
        grid-row: 1/2;
        justify-self: end;;
    }
   .scrolled .contactBurgerMenu, .scrolled .navBurgerMenu {
        width : 6rem;
        height : 6rem;
        visibility: visible;
    }
    .scrolled .contactBurgerMenu span, .scrolled .navBurgerMenu span {
        font-size : 3rem;
    }

    .scrolled .modalContactBurger {
        background-color: #bf9000;
        display : none;
        position: absolute;
        top: 6rem;
        right:2rem;
        width: auto;
        margin : auto;
        flex-direction: column;
        justify-content: right;
        align-content: end;
        transition: all 1s;
        z-index: 1000;
        opacity: 0;
    }
    .scrolled .modalContactBurger_visible {
        background-color: #bf9000;
        position: absolute;
        top: 6rem;
        right:2rem;
        width: auto;
        margin : auto;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-content: end;
        transition: all 1s;
        z-index: 1000;
        opacity: 1;
    }




}

