{% extends "base.html.twig" %}

{% block title %}
    Accueil
    {{ parent() }}
{% endblock %}

{% block main %}

    <main id="login" class="container py-5 px-3">
        <?php
    if(isset($_SESSION["error-message"]))
    {
        ?>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <?= $_SESSION["error-message"] ?>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <?php
    }
    ?>
        <h1 class="mb-5">Comment pouvons-nous vous aider ?</h1>

        <form action="index.php?route=messageRegister" method="post">
            <input type="hidden" name="csrf-token" id="csrf-token" value="<?= $_SESSION["csrf-token"] ?>" />

            <label for="firstname">Prénom :</label>
            <input type="text" id="firstname" name="firstname" required>

            <label for="lastname">Nom :</label>
            <input type="text" id="lastname" name="lastname" required>

            <label for="city">Ville :</label>
            <input type="text" id="city" name="city" required>

            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>

            <label for="content">Votre message :</label>
            <textarea id="content" name="content" rows="4" required></textarea>

            <button type="submit">Envoyer</button>
        </form>
    </main>
{% endblock %}