{% extends "base.html.twig" %}

{% block title %}
    Accueil
    {{ parent() }}
{% endblock %}

{% block main %}

        <h1 class="mb-5">Comment pouvons-nous vous aider ?</h1>

        <form class="contactForm" action="index.php?route=messageRegister" method="post">
            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ sessionToken }}" />

            <label for="firstname">Prénom :</label>
            <input type="text" id="firstname" name="firstname" required>

            <label for="lastname">Nom :</label>
            <input type="text" id="lastname" name="lastname" required>

            <label for="city">Ville :</label>
            <input type="text" id="city" name="city" required>

            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>

            <label for="content">Votre message :</label>
            <textarea id="content" name="content" rows="4" required></textarea>

            <button type="submit">Envoyer</button>
            {%  if  message is defined %}
                <p class="ContactFormOKMessage">{{ message }}</p>
            {% endif %}
        </form>
    </main>
{% endblock %}