{% extends "base.html.twig" %}

{% block title %}
    Accueil
    {{ parent() }}
{% endblock %}

{% block main %}

<main id="contactPage">

        <p id="contactFormOKMessage"></p>

    <form id="contactForm">
        <input type="hidden" name="csrf-token" id="csrf-token" value="{{ sessionToken }}" />
        <fieldset id="contactForm">
            <legend class="dark-mode white-text">Comment pouvons-nous vous aider ?</legend>
            <div class="vertical-line"></div>
            <label for="firstname">Prénom * :</label>
            <input type="text" id="firstname" name="firstname" required="required">

            <label for="lastname">Nom * :</label>
            <input type="text" id="lastname" name="lastname" required="required">

            <label for="city">Ville * :</label>
            <input type="text" id="city" name="city" required="required">

            <label for="email">Email * :</label>
            <input type="email" id="email" name="email" required="required">

            <label for="content">Votre message (max 1024 caractères) * :</label>
            <textarea id="content" name="content" rows="4" required="required"></textarea>

            <button class="send-contactInfos" type="submit">Envoyer</button>
        </fieldset>
    </form>
</main>
{% endblock %}