<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <!--responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="color-scheme" content="light dark">
    <title>  {% block title %} {% endblock %} | AVEN Plaquiste</title>
    <!--SEO-->
    <meta name="description" content="Plaquiste cloisons sèches faux plafonds isolation décoration rénovation Bretagne Finistère sud Rosporden Quimper Fouesnant Concarneau"/>
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Signika:wght@300..700&display=swap" rel="stylesheet">
    <!--fontawesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <!--sheets-->
    {% block link %} {% endblock %}
    <link rel="stylesheet" href="../assets/css/styles.css" />

</head>

<body class="dark-mode-black">
<header>
    <!-- Bandeau coordonnées -->
    <section id="contactNav">
        <h2 class="visually-hidden">contact</h2>
        <button class="contactBurgerMenu">
            <span>&#9993;</span>
        </button>
        <div class="modalContactBurger ">
            <p class="close-contactModal">&#9747;</p>
            <ul class="contactDetails contact_list dark-mode-golden">
                <li><a href="tel:+33298108916"><i class="fa-solid fa-phone"></i>02 98 10 89 16</a></li>
                <li class="slash">/</li>
                <li><i class="fa-solid fa-location-dot"></i>11 ZA de Dioulan - 29140 Rosporden</li>
                <li class="slash">/</li>
                <li><a href="index.php?route=contact"><i class="fa-solid fa-envelope"></i>Nous contacter </a></li>
            </ul>
        </div>
    </section>
    <!-- logos -->
    <section id="logos">
        <h2 class="visually-hidden">logo</h2>
        <a href="index.php?route=home"><img src="assets/img/logo-Rond.png" alt="logo-Rond" class='logoHeader' id="logoNoScroll"></a>
        <a class="lienLogoScroll" href="index.php?route=home"><img src="assets/img/logoBlancScroll.png" alt="logoScroll" class="logoHeaderScroll" style="display:none;"></a>
    </section>
    <!-- nav -->
    <section id="nav">
        <h2 class="visually-hidden">menu</h2>
        <button class="navBurgerMenu">
            <span>&#9776;</span>
        </button>
        <div class="modalNavBurger">
            <p class="close-navModal">&#9747;</p>
            <ul class="navbar navList">
                <li class="nav-item {% if current_route == "index.php?route=home" or current_route == "index.php" %}active{% endif %}">
                    <a class="nav-link" href="index.php?route=home">Accueil</a>
                </li>
                <li class="nav-item {% if current_route == "index.php?route=realisations"%}active{% endif %}">
                    <a class="nav-link" href="index.php?route=realisations">Les réalisations</a>
                </li>
                <li class="nav-item {% if current_route == "index.php?route=services"%}active{% endif %}">
                    <a class="nav-link" href="index.php?route=services">Les prestations</a>
                </li>
                <li class="nav-item {% if current_route == "index.php?route=opinions"%}active{% endif %}">
                    <a class="nav-link" href="index.php?route=opinions">Les retours clients</a>
                </li>
                <li class="nav-item {% if current_route == "index.php?route=contact"%}active{% endif %}">
                    <a class="nav-link" href="index.php?route=contact">Nous contacter</a>
                </li>
                <li class="nav-item pricingBtnclass {% if current_route == "index.php?route=pricing"%}active{% endif %}">
                    <a class="nav-link" href="index.php?route=pricing">Devis gratuit</a>
                </li>
            </ul>
        </div>
    </section>
</header>

{% block main %}
{% endblock %}


<button id="scrollToTopButton" title="Remonter en haut de la page">&#8593;</button>
<footer>
    <div class="controls">
        <div>
            <button id="increase-font">A+</button>
            <button id="decrease-font">A-</button>
        </div>
    </div>

    <div class="vertical-line"></div>
    <p><a href="http://www.linkedin.com" target="_blank" class="dark-mode-white-text"><i class="fa-brands fa-linkedin-in"></i></a>&nbsp;&nbsp;<a href="http://www.facebook.com" target="_blank" class="dark-mode-white-text"><i class="fa-brands fa-facebook-f dark-mode-white-text"></i></a>&nbsp;&nbsp;<a href="http://www.instagram.com" target="_blank" class="dark-mode-white-text"><i class="fa-brands fa-instagram"></i></a></p>
    <p><a href="index.php?route=legal">Mentions Légales</a> - Site créé par EV</p>
</footer>

{% block javascript %}
{% endblock %}
<script type="text/javascript" src="assets/js/main.js"></script>

</body>
</html>