{% extends "base.html.twig" %}

{% block title %}
    Accueil
    {{ parent() }}
{% endblock %}

{% block main %}
    <main id="legal">
        <h3>Mentions Légales</h3>
        <div class="vertical-line"></div>
        <h2>Confidentialité</h2><br>
        <p>AVEN PLAQUISTE n'enregistre pas d'informations personnelles permettant l'identification, à l'exception des formulaires que l'utilisateur est libre de remplir. Ces informations ne seront pas utilisées sans votre accord, nous les utiliserons seulement pour vous adresser des courriers, des brochures, des devis ou vous contacter. Les informations recueillies sur les sites bénéficient de la protection de la loi "Informatique et Libertés" n° 78-17 du 06 janvier 1978. Elles bénéficient d'un droit d'accès, de rectification, d'opposition à communication et de suppression sur simple demande à AVEN PLAQUISTE, 11 ZA de Dioulan - 29140 Rosporden. AVEN PLAQUISTE pourra procéder à des analyses statistiques sans que celles-ci soient nominatives et pourra en informer des tiers (organismes d'évaluation de fréquentation) sous une forme résumée et non nominative.</p>
        <div class="vertical-line"></div>
        <h2>Règlement général sur la protection des données (RGPD)</h2><br>
        <p>AVEN PLAQUISTE s'engage à ce que la collecte et le traitement de vos données soient conformes au règlement général sur la protection des données (RGPD). Chaque formulaire ou téléservice limite la collecte des données personnelles au strict nécessaire (minimisation des données) et indique notamment : quels sont les objectifs du recueil de ces données, si ces données sont obligatoires ou facultatives pour la gestion de votre demande, qui pourra en prendre connaissance (uniquement AVEN PLAQUISTE en principe, sauf précision dans le formulaire lorsqu'une transmission à un tiers est nécessaire à la gestion de votre demande). Les données personnelles recueillies sont traitées selon des protocoles sécurisés et permettent à AVEN PLAQUISTE de gérer les demandes reçues dans ses applications informatiques. Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par AVEN PLAQUISTE, vous pouvez contacter AVEN PLAQUISTE, ou vous tourner vers la <a href="https://www.cnil.fr/fr">CNIL</a>.</p>
        <div class="vertical-line"></div>
        <h2>Utilisation de cookies</h2><br>
        <p>Les cookies permettent d’enregistrer les informations (non personnelles) relatives à la navigation des utilisateurs sur internet. Les cookies ont pour objectif l’amélioration de l’expérience de navigation des visiteurs ainsi que l’optimisation des statistiques. Dès lors que vous les acceptez, ceux-ci seront utilisés uniquement dans le cadre de votre navigation sur le site
            <a href="www.aven-plaquiste.fr">aven-plaquiste.fr</a>, et ce pour une durée de 6 mois maximum.</p>
        <div class="vertical-line"></div>
        <h2>Liens hypertexte</h2><br>
        <p>AVEN PLAQUISTE ne contrôle pas les sites en connexion avec le sien, et ne saurait donc être responsable de leur contenu. Les risques liés à l'utilisation de ces sites incombent pleinement à l'utilisateur. Il se conformera à leurs conditions d'utilisation.</p>
        <div class="vertical-line"></div>
        <h2>Éditeur</h2><br>
        <p>AVEN PLAQUISTE • RCS Quimper B 882 419 476 • Siège social : 11 ZA de Dioulan - 29140 Rosporden. • N° de téléphone : 02 98 10 89 16
        <div class="vertical-line"></div>
        <h2>Directrice de la publication</h2><br>
        <p>EMILIE VIOT</p>
        <div class="vertical-line"></div>
        <h2>Hébergement</h2><br>
        <p>3W Academy • SAS au capital de 5 000 euros • RCS Quimper B 882 419 476 • Siège social : 11 ZA de Dioulan - 29140 Rosporden • N° de téléphone : 02 98 10 89 16</p>
    </main>

{% endblock %}